<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="AccessDb" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=./Data/DATA{0}.mdb"/>
		
	</connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
